@charset "utf-8";

/* CSS GENERAL */
/*-----------------------------------------------------------------------------
  [1. reset]
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

* { margin:0px; padding:0px; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

:focus { outline: 0; }

ins { text-decoration: none; }

del { text-decoration: line-through; }

table { border-collapse: collapse; border-spacing: 0; }

/* Classes */

a { color: #646464; }

a:link, a:visited { color: #646464; }

a:hover { color: #dd0000; }

.bold { font-weight: bold; }

.redbold { font-weight: bold; color: #dd0000; font-size: 14px; }

.italic { font-style: italic; }

.underline { text-decoration: underline }

.red { color: #dd0000; }

.align-left { text-align: left; }

.align-center { text-align: center; }

.align-right { text-align: right; }

.clearer { clear: both; }

/* Styles */
body { font-family:Arial, Geneva, sans-serif; font-size:12px; color:#666; }

h1 { font-size:21px; color:#666; padding: 30px 0px 20px 0px }

h2 { font-size:14px; color:#666; padding: 20px 0px 10px 0px }

p { margin: 15px 10px; }

/* Layout */
#header { background:url(bg1.gif) repeat-x bottom left; border-bottom: 1px solid #999; vertical-align:bottom }

#header_c { width:950px; margin:auto; height:112px; background:url(bg1.gif) repeat-x; }

#bod { background:url(bg3.gif) repeat-x; height: 800px; }

#bod_c { width:950px; margin:auto; }

#block { width:850px; margin:auto; }

#block_2 { background: url(bgg.png) repeat-x bottom left; border:1px solid #e6e6e6; padding: 30px 20px }

.focus { background:#f4ffff; border:1px solid #e6e6e6; width:600px; margin:auto; padding:50px; }

label, .label { display:block; width:250px; float:left; text-align:right; padding-right:15px; font-weight:bold; }

.label_r { display:block; width:250px; float:left; text-align:left; padding-left:15px; font-weight:bold; }

input[type=text] { display:block; width:100px; float:left; }

input[type=button] { display:block; width:100px; float:left; padding:5px; margin-left: 265px }

.msg { clear:both; color:#C00; font-weight:bold }

/*----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
            [2. Logo]
        */

        #top-logo { background: transparent url(logo.png) no-repeat left top; display: block; float: left; height: 112px; margin: 0px; padding: 0px; width: 232px; }

#top-logo span { display: none; }

/*-----------------------------------------------------------------------------
            [3. Menus]
        */

        #top-menu { float: left; height: 112px; width: 713px; /* 950 - 237 */ }

/*-----------------------------------------------------------------------------
            [3.1 Nav]
        */

        #top-menu-nav { border-bottom: 1px solid #bebebe; float: left; height: 32px; list-style: none; margin: 0px; padding: 0px; width: 100%; }

#top-menu-nav li { display: inline; font-size: 13px; font-weight: bold; text-align: center; vertical-align:middle; padding: 18px 10px 0px 15px;/*margin-right: 20px;*/ }

#top-menu-nav li.a1 { background:url(topbar.png) 0px 15px no-repeat; }

#top-menu-nav li.a1:hover { background:url(topbar.png) 0px -15px no-repeat; }/**/

#top-menu-nav li.f1 { padding-right:0px }

#top-menu-nav li a { color: #555555; text-decoration: none; }

#top-menu-nav li a:hover { color: #dd0000; text-decoration: none; }

/*-----------------------------------------------------------------------------*/

#top-menu-main { float: left; list-style: none; margin: 0px; margin-top: 10px; padding: 0px; width: 100%; }

#top-menu-main li { display: inline; }

#top-menu-main li a { display: block; float: left; height: 69px; margin-left: 1px; margin-right: 1px; padding: 0px; text-decoration: none; }

#top-menu-main li a span { display: none; }

/*----------------------------------------------------*/

#top-menu-main-accueil { background-image: url(accueil.png); width: 96px; }

#top-menu-main-accueil:hover { background-image: url(accueil_hover.png); }

#top-menu-main-internet { background-image: url(internet.png); width: 87px; }

#top-menu-main-internet:hover { background-image: url(internet_hover.png); }

#top-menu-main-telephone { background-image: url(telephone.png); width: 108px; }

#top-menu-main-telephone:hover { background-image: url(telephone_hover.png); }

#top-menu-main-television { background-image: url(television.png); width: 108px; }

#top-menu-main-television:hover { background-image: url(television_hover.png); }

#top-menu-main-boutique { background-image: url(boutique.png); width: 110px; }

#top-menu-main-boutique:hover { background-image: url(boutique_hover.png); }

#top-menu-main-assistance { background-image: url(assistance.png); width: 122px; }

#top-menu-main-assistance:hover { background-image: url(assistance_hover.png); }
/*----------------------------------------------------  */

#block_2 .lists ul li.img-modif-info { background-image: url(list_modif_info.png); }
