<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="{{ static_url('css/angular-material.min.css') }}"/>
        <link rel="stylesheet" href="{{ static_url('css/material-icons.css') }}"/>
    </head>
    <body ng-app="MyApp" ng-controller="AppCtrl" ng-cloak>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h1>
                    <md-icon md-font-library="material-icons">settings_applications</md-icon>
                    Raspberryphish
                </h1>
                <md-menu md-position-mode="target-right target" >
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-font-library="material-icons">more_vert</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-href="/logout">
                                <md-icon md-font-library="material-icons">help</md-icon>
                                Help
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-href="/logout">
                                <md-icon md-font-library="material-icons">exit_to_app</md-icon>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
        <!-- -->
        <md-content layout="column">
            <section>
                <md-subheader class="md-primary">
                    Status
                </md-subheader>
                <md-list layout-padding>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                          <h3> test h3 1 </h3>
                          <h4> test h4 1 </h4>
                          <p>
                            freagreagrae
                          </p>
                        </div>
                    </md-list-item>
                </md-list>
                <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px" >
                    <md-grid-tile md-rowspan="1" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
                        <canvas class="chart chart-line" chart-data="chartdata" chart-labels="chartlabels" chart-legend="true" chart-series="chartseries" chart-options="chartoptions" chart-colours="chartcolors"></canvas>
                        <md-grid-tile-footer> <h3> Random </h3> </md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile md-rowspan="1" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
                        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                        <md-grid-tile-footer> <h3> Loading </h3> </md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
            </section>
            <section>
                <md-subheader class="md-warn">
                    Statistics
                </md-subheader>
                <md-list layout="column" layout-padding>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h3> test h3 2 </h3>
                            <h4> test h4 2 </h4>
                            <p>
                              rgvgrnxyttrxryd
                            </p>
                      </div>
                    </md-list-item>
              </md-list>
            </section>
        </md-content>
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="{{ static_url('js/dependencies/angular.min.js') }}"></script>
        <script src="{{ static_url('js/dependencies/angular-animate.min.js') }}"></script>
        <script src="{{ static_url('js/dependencies/angular-aria.min.js') }}"></script>
        <script src="{{ static_url('js/dependencies/angular-messages.min.js') }}"></script>
        <!-- Angular Material Library -->
        <script src="{{ static_url('js/dependencies/angular-material.min.js') }}"></script>
        <!-- App  -->
        <script src="{{ static_url('js/app/app.js') }}"></script>
    </body>
</html>
