<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="{{ static_url('css/angular-material.min.css') }}"/>
        <link rel="stylesheet" href="{{ static_url('css/material-icons.css') }}"/>
    </head>
    <body ng-app="MyApp" ng-cloak>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h1>
                    <md-icon md-font-library="material-icons">settings_applications</md-icon>
                    Raspberryphish
                </h1>
            </div>
        </md-toolbar>
        <md-content class="md-padding" layout="column" layout-align="center center" layout-padding layout-margin>
            {% if failed %}
            <div class="md-whiteframe-z1" flex>
                <h3> You provide wrong credentials ! </h3>
            </div>
            {% end %}
            <form name="connection" action="login" method="post">
                {% module xsrf_form_html() %}
                <md-input-container class="md-icon-float md-block">
                    <md-icon md-font-library="material-icons">person</md-icon>
                    <input required md-no-asterisk ng-model="login" name="username" type="text" placeholder="Username">
                    <div ng-messages="connection.username.$error">
                        <div ng-message="required"> This is required. </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <md-icon md-font-library="material-icons">vpn_key</md-icon>
                    <input required md-no-asterisk ng-model="password" name="password" type="password" placeholder="Password">
                    <div ng-messages="connection.password.$error">
                        <div ng-message="required"> This is required. </div>
                    </div>
                </md-input-container>
                <md-content class="md-padding" layout="column" layout-align="center center" layout-padding layout-margin>
                    <md-button class="md-raised md-primary" ng-if="login && password" type="submit">
                        <md-icon md-font-library="material-icons">lock</md-icon>
                        Sign in
                    </md-button>
                </md-content>
            </form>
        </md-content>
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="{{ static_url('js/dependencies/angular.min.js') }}"></script>
        <script src="{{ static_url('js/dependencies/angular-animate.min.js') }}"></script>
        <script src="{{ static_url('js/dependencies/angular-aria.min.js') }}"></script>
        <!-- Angular Material Library -->
        <script src="{{ static_url('js/dependencies/angular-material.min.js') }}"></script>
        <!-- -->
        <script type="text/javascript">
            angular.module('MyApp', ['ngMaterial']);
        </script>
    </body>
</html>
