<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="{{ static_url("css/angular-material.min.css") }}"/>
        <link rel="stylesheet" href="{{ static_url("css/material-icons.css") }}"/>
        <!-- dataTable -->
        <link rel="stylesheet" href="{{ static_url("css/dataTable.css") }}"/>
        <link rel="stylesheet" href="{{ static_url("css/icons.css") }}"/>
        <!-- angular-chart -->
        <link rel="stylesheet" href="{{ static_url("css/angular-chart.min.css") }}"/>
    </head>
    <body ng-app="MyApp" ng-controller="AppCtrl" ng-cloak>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2> Raspberryphish </h2>
                <span flex></span>
                <div layout="column" flex-sm="100" flex="33" layout-align="center center">
                    <md-menu md-position-mode="target-right target" >
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <i class="material-icons">more_vert</i>
                        </md-button>
                        <md-menu-content width="4" >
                            <md-menu-item>
                                <p> Menu </p>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="help($event)">
                                    <div layout="row" flex>
                                        <p flex> Help </p>
                                        <i md-menu-align-target class="material-icons">help</i>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="/logout">
                                    <div layout="row" flex>
                                        <p flex> Logout </p>
                                        <i md-menu-align-target class="material-icons">exit_to_app</i>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </md-toolbar>
        <!-- -->
        <md-content layout="column">
            <section>
                <md-subheader class="md-primary">
                    Status
                </md-subheader>
                <md-list layout-padding>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                          <h3>test h3 1</h3>
                          <h4>test h4 1</h4>
                          <p>
                            freagreagrae
                          </p>
                        </div>
                    </md-list-item>
                </md-list>
                <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px" >
                    <md-grid-tile md-rowspan="1" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
                        <canvas class="chart chart-line" chart-data="chartdata" chart-labels="chartlabels" chart-legend="false" chart-series="chartseries" chart-options="chartoptions" chart-colours="chartcolors"></canvas>
                        <md-grid-tile-footer><h3>Random</h3></md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile md-rowspan="1" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
                        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                        <md-grid-tile-footer><h3>Loading</h3></md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
            </section>
            <section>
                <md-subheader class="md-warn">
                    Statistics
                </md-subheader>
                <md-list layout="column" layout-padding>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h3>test h3 2</h3>
                            <h4>test h4 2</h4>
                            <p>
                              rgvgrnxyttrxryd
                            </p>
                      </div>
                    </md-list-item>
              </md-list>
            </section>
        </md-content>
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="{{ static_url("js/angular.min.js") }}"></script>
        <script src="{{ static_url("js/angular-animate.min.js") }}"></script>
        <script src="{{ static_url("js/angular-aria.min.js") }}"></script>
        <script src="{{ static_url("js/angular-messages.min.js") }}"></script>
        <!-- Angular Material Library -->
        <script src="{{ static_url("js/angular-material.min.js") }}"></script>
        <!-- DataTable for Angular Material -->
        <script src="{{ static_url("js/dataTable.helpers.min.js") }}"></script>
        <!-- Graph for Angular Material -->
        <script src="{{ static_url("js/Chart.min.js") }}"></script>
        <script src="{{ static_url("js/angular-chart.min.js") }}"></script>
        <!-- Your application bootstrap  -->
        <script type="text/javascript">
            var app = angular.module('MyApp', ['ngMaterial', 'ngMessages', 'data-table', 'chart.js']);

            app.controller('AppCtrl', function($scope, $http, $mdDialog) {
                    $scope.help = function() {
                            $mdDialog.show(
                                $mdDialog.alert()
                                    .clickOutsideToClose(true)
                                    .parent('body')
                                    .title('Help')
                                    .textContent('Yayy ~~~ !')
                                    .ok('Ok')
                            );
                          originatorEv = null;
                        };
                    //
                    $scope.random_results = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                    //
                    $scope.random_fct = function() {
                            //
                            $http.get("/api/random").then(function successCallback(response) {
                                    $scope.random = response.data;
                                    $scope.random_results.push(response.data);
                                    $scope.random_results = $scope.random_results.slice(-10);
                                    $scope.chartdata[0] = $scope.random_results;
                                    setTimeout($scope.random_fct, 1000);
                                }, function errorCallback(response) {
                                    console.log(response);
                                    setTimeout($scope.random_fct, 500);
                                });
                        };
                    //
                    setTimeout($scope.random_fct, 1000);
                    //
                    $scope.chartlabels = ["-9", "-8", "-7", "-6", "-5", "-4", "-3", "-2", "-1", "0"];
                    $scope.chartseries = ['Random'];
                    $scope.chartdata = [
                            [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                        ];
                    $scope.chartoptions = {
                            maintainAspectRatio: true,
                            responsive: true,
                            barDatasetSpacing: 1,
                            barShowStroke: true,
                            barStrokeWidth : 2,
                            barValueSpacing : 5,
                            animationSteps: 30,
                            scaleOverride: true,
                            scaleStartValue: 0,
                            scaleSteps : 10,
                            scaleStepWidth : 10,
                            multiTooltipTemplate: function(label) {
                                return label.value + ' ' + label.datasetLabel;
                            },
                            tooltipTemplate: function(label) {
                                return label.value;
                            }
                        };
                    $scope.chartcolors = [ '#46BFBD', '#FDB45C', '#00ADF9', '#949FB1'];
                });
        </script>
    </body>
</html>
