<!DOCTYPE html>
<html lang="fr" >
    <head>
        <title>AdminRouteur</title>
        <link rel="icon" href="favicon.ico">
        <!-- META -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <!-- CSS -->
        <!-- fonts + icons -->
        <link href="./rsc/admin/css/fonts.css" rel="stylesheet">
        <link href="./rsc/admin/css/icon.css" rel="stylesheet">
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="./rsc/admin/css/angular-material.min.css">
        <!-- AngularChart.js -->
        <link rel="stylesheet" href="./rsc/admin/css/angular-chart.min.css">
        <!-- Custom style sheet -->
        <link rel="stylesheet" href="./rsc/admin/css/app.css"/>
        <style type="text/css">
            /**
             * Hide when Angular is not yet loaded and initialized
             */
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
              display: none !important;
            }
        </style>
        <!-- JS -->
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="./rsc/admin/js/angular.min.js"></script>
        <script src="./rsc/admin/js/angular-animate.min.js"></script>
        <script src="./rsc/admin/js/angular-aria.min.js"></script>
        <script src="./rsc/admin/js/angular-messages.min.js"></script>
        <!-- Angular Material Library -->
        <script src="./rsc/admin/js/angular-material.min.js"></script>
        <!-- Chart.js -->
        <script src="./rsc/admin/js/Chart.min.js"></script>
        <script src="./rsc/admin/js/angular-chart.min.js"></script>
    </head>
    <body ng-app="starterApp" layout="row" ng-controller="UserController as ul" ng-cloak >
        <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-toolbar class="md-whiteframe-z1">
                <h1>AdminRouteur</h1>
            </md-toolbar>
<!--
            <md-list>
                <md-list-item>
-->
                    <md-button>
                        <md-icon md-font-icon="home">home</md-icon>
                        Home
                    </md-button>
<!--
                </md-list-item>
-->
<!--
                <md-list-item>
                    <md-button>
                        <md-icon md-font-icon="help">help</md-icon>
                        Help
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button>
                        <md-icon md-font-icon="mail">mail</md-icon>
                        Repo
                    </md-button>
                </md-list-item>
            </md-list>
-->
        </md-sidenav>


        <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
                        <md-icon md-font-icon="view_headline">view_headline</md-icon>
                    </md-button>

                    <span flex></span>

<!--
                    <md-button class="md-raised" aria-label="Learn More">
                        Learn More
                    </md-button>
-->
<!--
                    <md-button class="md-fab md-mini" aria-label="Add">
                        <md-tooltip>Add</md-tooltip>
                        <md-icon md-font-icon="add">add</md-icon>
                    </md-button>
-->
                    <md-button class="md-fab md-mini" ng-click="ul.showContactOptions($event)" aria-label="Share">
                        <md-tooltip>Share</md-tooltip>
                        <md-icon md-font-icon="share">share</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-content flex id="content" ng-controller="APIController as api">
                <h1 class="md-display-3">Stats</h1>
                <div layout layout-fill layout-align="center top">
                    <div flex>
                        <h2 class="md-headline" style=text-align:center;">Instant Load</h2>
                        <canvas id="loadchart" class="chart chart-bar" chart-data="api.loadchartdata" chart-labels="api.loadchartlabels" chart-series="api.loadchartseries"></canvas>
                    </div>
                    <div flex>
                        <h2 class="md-headline" style=text-align:center;">Peers</h2>
                        <canvas id="peerchart" class="chart chart-bar" chart-data="api.peerchartdata" chart-labels="api.peerchartlabels" chart-series="api.peerchartseries"></canvas>
                    </div>
                </div>
            </md-content>
        </div>


<!-- SCRIPTS JS -->
        <script src="./rsc/admin/src/Users.js"></script>
        <script src="./rsc/admin/src/UserController.js"></script>
        <script src="./rsc/admin/src/UserService.js"></script>
        <script src="./rsc/admin/src/APIController.js"></script>
<!--
    Script AngularMaterial
-->
        <script type="text/javascript">
            angular
                .module('starterApp', ['ngMaterial', 'users', 'chart.js'])
                .config(function($mdThemingProvider, $mdIconProvider)
                    {
                        $mdIconProvider
                            .defaultIconSet("./assets/svg/avatars.svg", 128);
                        $mdThemingProvider.theme('default')
                            .primaryPalette('teal')
                            .accentPalette('amber');
                    });
        </script>
    </body>
</html>

